@model FormMvc.Models.Practica

@{
    ViewData["Title"] = "Hecho por Veronica Varas";
}

<div class="row">
    <div class="col-md-4">  
        <h1 class="display-4">Bono</h1>
        <form asp-controller="Practica1" asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>    

            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>               

            <div class="form-group">
                <label asp-for="Distrito" class="control-label"></label>
                <input asp-for="Distrito" class="form-control" />
                <span asp-validation-for="Distrito" class="text-danger"></span>
            </div>  

             <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
            </div> 

            <div>
                <label asp-for="Banco" class="control-label"></label>
                <br>
                <select asp-for="Banco">
                    <option value="BCP">BCP</option>
                    <option value="BBVA">BBVA</option>
                    <option value="Banco de la nacion">Banco de la nacion</option>
                    <option value="Scotiabank">Scotiabank</option>
                </select>              
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <br>
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Masculino</label><br>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Femenino</label><br>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div> 
            <br>
            <div class="form-group">
                 <button type="submit" class="btn btn-outline-primary">Registrar</button> 
            </div>                

        </form>
            
        <td>@Html.DisplayTextFor(model => model.Response)</td>    
    
    </div>
</div>
