@model  FormMvc.Models.Formulario

@{
    ViewData["Title"] = "Formulario Page";
}

<div class="text-center">
    <h1 class="display-4">FORMULARIO</h1>
     <form asp-controller="Formulario" asp-action="Enviar">
        <div class="container">
            <div class="form-group">
                 <label>Nombre</label>
            <input asp-for="Nombre" required class="form-control"/>
            </div>
            <label>Nombre</label>
            <br>
            <input asp-for="Nombre"/>
            <br/>
            <label>Apellido</label>
            <br>
            <input asp-for="Apellido"/>
            <br/> 
            <label>Email</label>
            <br>
            <input asp-for="Email"/>
            <br/>
            <label>Telefono</label>
            <br>
            <input asp-for="Telefono"/>
            <br/> 
            <label>Subject</label>
            <br>
            <input asp-for="Subject"/>
            <br/>
            <label>Mensaje</label>
            <br>
            <input asp-for="Mensaje"/>
            <br/> 
            <br>
            <input type="submit" value="Enviar"/>
        </div>

    </form>
    <td>@Html.DisplayNameFor(model => model.Respuesta)</td>
    <td>@Html.DisplayTextFor(model => model.Respuesta)</td>
    
</div>
