@model FormMvc.Models.Estudiante

@{
    ViewData["Title"] = "Estudiante";
}

<div class="row">
    <div class="col-md-4">  
        <h1 class="display-4">Estudiante</h1>
        <form asp-controller="Estudiante" asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>    

            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>               
                   
            <div>
                <select asp-for="Curso">
                    <option value="Matematica">Matematica</option>
                    <option value="Comunicacion">Comunicacion</option>
                    <option value="Ciencias">Ciencias</option>
                    <option value="Ingles">Ingles</option>
                </select>              
            </div>
            <div class="form-group">
                 <button type="submit" class="btn btn-default">Registrar</button> 
            </div>                

        </form>
            
        <td>@Html.DisplayTextFor(model => model.Response)</td>    
    
    </div>
</div>
